
.veryLow {
    content: url('../images/batteryVeryLow.png');
    width: 10em;
    height: 4em;
    margin: 0;
}
.low {
    content: url('../images/batteryLow.png');
    width: 10em;
    height: 4em;
    margin: 0;

}
.halfFull {
    
    content: url('../images/batteryHalfFull.png');
    width: 10em;
    height: 4em;
    margin: 0;
}
.high {

    content: url('../images/batteryHigh.png');
    width: 10em;
    height: 4em;
    margin: 0;
}
.full{
    content: url('../images/batteryFull.png');
    width: 10em;
    height: 4em;
    margin: 0;  
}

.text{
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}
.textDark{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}