
.veryLow {
    background-color: red;
    background: url('../images/batteryVeryLow.png');
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 10vw;
    height: 10vw; 
    text-align: center;
}
.low {
    background-color: orange;
    background: url('../images/batteryLow.png');
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 10vw;
    height: 10vw; 
    text-align: center;
    

}
.halfFull {
    background-color: yellow;
    background: url('../images/batteryHalfFull.png');
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 10vw;
    height: 10vw; 
    text-align: center;
}
.high {
    background-color: lightgreen;
    background: url('../images/batteryHigh.png');
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 10vw;
    height: 10vw; 
    text-align: center;
}
.full{
    background-color: lawngreen;
    background: url('../images/batteryFull.png');
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 10vw;
    height: 10vw; 
    text-align: center;
}