
.chartBackground {

    
    background-color: white;
    font: 100;
    font-family: 'Montserrat', sans-serif;
    
    
  
  }

  .graph {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin-bottom: 1rem;
  }
  
  .graph-name {
    color: red;
    font-size: 2rem;
  }
  
  .graphName2 {
    color: black;
    font-size: 2rem ;
  }
