.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh auto 0;
    color: #db1623;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
}