.clock {
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    margin: 5vh auto 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
}