.clock1 {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 5vh auto 0;
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.clock2 {

    
    color: rgb(244, 238, 238);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4rem;
}