

* {
  margin: 0rem;
  padding: 0rem;
  
  font-family: 'Montserrat', sans-serif;
  
}

.body {
  display: flex;
  flex-direction: column; 
  background-image: linear-gradient(to bottom, #ffffff, #b5bac3);
}

.bodyDark {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #383636, #24292f); 
}

header {
  background: url('../images/homePageBackgroundToptest.png');
  background-size: 100vw 15vh;
  height: 15vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    
}


.content{
  
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
  /* flex-wrap: wrap; */
}
footer{
  background: url('../images/homePageBackgroundBottomtest.png');
  background-size: 100vw 15vh;
  height: 15vh;
  width: 100vw;
  display: flex;
  align-items: flex-end;
}


img {
  height: 6vh;
  width: 16vw;
  margin: 3vh 3vw;
}


.dataContainer {
  width: 25vw;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 4px solid black;
}

.dataContainerDark {
  width: 25vw;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 4px solid white;
}

.battery {
  width: 10%;
}




.displayElement {
  display: flex;
  flex-direction: column;

}

.dataText {
  font-size: 3rem;
  color: red;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-align: center;
}

.dataUnit {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #0c0d0e;
}

.dataUnitDark {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}


.graphContainer {
  width: 50vw;  
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  margin: 0vh 3vw;
}


.graph {
  width: inherit;  

}

.graphName {
  color: red;
  width: inherit;
  background-color: white;
  font-size: 2rem ;
  text-align: center;
}


.buttonContainer {
  width: 25vw;
  border-left: 4px solid black;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 
}

.buttonContainerDark {
  width: 25vw;
  border-left: 4px solid white;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 
}

.device {
  content: url('../images/polarVeritySense.png');
  margin: 0;
  width: 7.5em;
  height: 7.5em;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: inherit;
}

.button {
  background: #de1818;
  width: 80%;
  padding: 10px;
  border-radius: 8px;
  border-color: #de1818;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 10px 0;
  cursor: pointer;
  font-weight: 700;
  transition: all .2s ease-in-out;
}

.button-44:active,
.button-44:focus {
  border-bottom-style: none;
  border-color: #dadada;
  box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
  outline: 0;
}

.button-44:hover {
  border-bottom-style: none;
  border-color: #dadada;
}

.alertBox{
  position: absolute;
  display: none;
  background-image: radial-gradient(  #F07470, #DC1C13);
  box-shadow: 0px 20px 80px -25px #000000 ;
  width: 40vw;
  height: 12vh; 
  flex-direction: row;
  justify-content:center;
  align-items: center;
  border-radius: 5px;
  opacity: 70%;
  
  margin-bottom: 50vh;
}

.alertText{
  font-size: 3em;
  text-align: center;
  box-sizing: border-box;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.alertIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  margin: 0.3em;
}